* {
    padding: 0;
    margin: 0;
}

.ToggleButton {
    margin: 5px;

    width: 5dvw;
    height: 5dvw;

    border-radius: 5px;
    transition: 0.25s;
}

.ToggleButton:hover {
    filter: invert(69%) sepia(0%) saturate(3307%) hue-rotate(356deg) brightness(95%) contrast(101%);
}

.CalcContainer {
    position: absolute;
    z-index: 9;

    display: none;
    align-items: center;
    justify-content: center;
}

.CalcContainer-maximized {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100dvw;
    height: 100dvh;
}

.Calculator {
    background-color: rgb(59, 59, 59);
    color: white;
    width: 400px;
}

.Calculator-maximized {
    background-color: rgb(59, 59, 59);
    color: white;
    width: 100dvw;
    height: 100dvh;
}

.CalculatorTopBar {
    cursor: move;
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.CalculatorTopBar-maximized {
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.grid-container {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
    height: calc(100% - 125px);
}

.grid-item {
    background-color: rgb(80, 80, 80);
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-size: 200%;
    text-align: center;
}

.grid-item:hover {
    background-color: rgb(95, 94, 94);
}

.grid-item:active {
    background-color: rgb(112, 112, 112);
}

.grid-item-bright {
    background-color: gray;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-size: 200%;
    text-align: center;
}

.grid-item-bright:hover {
    background-color: rgb(145, 144, 144);
}

.grid-item-bright:active {
    background-color: rgb(160, 160, 160);
}

.grid-item-blue {
    background-color: darkcyan;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-size: 200%;
    text-align: center;
}

.grid-item-blue:hover {
    background-color: rgb(0, 155, 155);
}

.grid-item-blue:active {
    background-color: rgb(0, 175, 175);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hideButtonVisuals {
    background-color: inherit;
    border: 0;
    color: white;
}

.taskbarButton-white {
    background-color: inherit;
}

.taskbarButton-white:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.taskbarButton-white:active {
    background-color: rgba(255, 255, 255, 0.75);
}

.taskbarButton-red {
    background-color: inherit;
}

.taskbarButton-red:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.taskbarButton-red:active {
    background-color: rgba(255, 0, 0, 0.75);
}